.admin-sidebar-nav {
    display: flex;
    justify-content: flex-start;
}
.profile-content {
    padding-left: 30px;
}
.profile-content h3 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #051A2D;
    margin: 0;
}
.profile-content p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #051A2D;
    margin: 0;
    padding: 0;
}
.Side-navbar-Navm a {
    display: block;
    text-decoration: none;
    color: #363636;
    padding: 5px 0;
    font-family: 'Montserrat';
    font-size: 14px;
    width:100%;
}
.Side-navbar-Navm a svg {
    margin-right: 5px;
    color: #1c4d8f;
}

.box-shadow {
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    border: 0 !important;
}
.dash-panel-top-nav {
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid #f3f3f3;
}
.dash-panel-top-nav a {
    padding: 14px 20px;
    background: #F3F3F3;
    margin: 0 12px 0;
    width: 150px;
    text-align: center;
    text-decoration: none;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: #363636;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 550;
    letter-spacing: 0.5px;
}
.d-flex-cardboxnm {
    display: flex;
    padding: 0 30px;
}
.three-boxes .card {
    margin: 0;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}
.three-boxes {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}
.light-pink{
   background-color: #FFE2E2;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.light-green{
   background-color: #E6FFE5;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.light-blue{
    background-color: #E4F7FF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.three-boxes .light-pink svg {
    position: absolute;
    top: 15px;
    right: 15px;
    transform: rotate(90deg);
}
.three-boxes .light-green svg {
    position: absolute;
    top: 15px;
    right: 15px;
    transform: rotate(90deg);
}
.three-boxes .light-blue svg {
    position: absolute;
    top: 15px;
    right: 15px;
    transform: rotate(90deg);
}
.order-content-bxo h3 {
    color: #051A2D;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.order-content-bxo p {
    color: #858585;
    font-size: 14px;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    margin:0;
}
.order-content-bxo {
    border-left: 2px solid #85858c;
    padding-left: 30px;
}
.ordericon {
    padding-right: 30px;
}
.ordericon img {
    width: 40px;
    position: relative;
    top: 4px;
}
tr.order-table-nav th:nth-child(6) {
    border-top-right-radius: 20px;
}
tr.order-table-nav th:nth-child(1) {
    border-top-left-radius: 20px;
}
tr.order-table-nav th {
    background-color: #1c4d8f !important;
}
tr.Table-body-nav th {
    font-weight: 600;
    color: #051A2D;
    font-family: 'Montserrat';
}
tr.Table-body-nav td {
    font-weight: 600;
    color: #051A2D;
    font-family: 'Montserrat';
}
tr.order-table-nav th {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
}
.table-heading-title h3{
   text-transform:uppercase;
   color:#051A2D;
   font-size:20px;
   font-family: 'Montserrat';
   font-weight: bold;
}
iframe{
    display:none;
}
.table-top-header-nav {
    display: flex;
    justify-content: space-between;
}
.table-filter {
    display: flex;
    justify-content: space-between;
}
.filter-short {
    display: flex;
    justify-content: center;
    padding-right: 30px;
}
.filter-short p {
    margin: 0;
    padding: 16px;
    color: #858585;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 550;
}
.table-top-header-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
a.custom-view-all-btn {
    background: #ddd;
    color: #051A2D;
    padding: 12px 30px;
    border-radius: 50px;
    margin: 25px 0;
    position: relative;
    top: 16px;
    font-weight: 550;
    font-size: 14px;
}
.shipment-heading-title {
    padding: 0px 0 10px;
}
.shipment-heading-title h2 {
    color: #051A2D;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat';
}
.Table-body-nav td a svg{
    color: #051A2D;
}
.form-filed-ordersearch {
    padding: 0 0 40px;
    width: 60%;
}
.form-filed-ordersearch .form-control {
    height: 55px;
    border: 0;
    outline: 0;
}
.form-filed-ordersearch .custom-btn-nav {
    background-color: #1c4d8f !important;
    padding: 15px !important;
}
.customer-panel-box {
    display: flex;
    justify-content: center;
    padding: 35px 0 0;
}
.customer-panel-box a {
    color: #fff;
    border-radius: 50px;
    margin: 0 15px;
    padding: 0 45px;
    width: 220px;
    text-align: center;
}

.profile-box-nn {
    background: #f9fbfe;
    position: relative;
    padding-bottom: 250px;
    border-radius: 0 0 5px 5px;
}
.profile-card {
    background: #1c4d8f9e;
    padding: 37px 0;
    position: relative;
    overflow: hidden;
}
.pro-content {
    margin-top: -55px;
    position: absolute;
    background: #fff;
    padding: 20px;
    left: 20px;
    right: 20px;
    -ms-box-shadow: 0 2px 25px 0 rgba(45,69,95,.06);
    -o-box-shadow: 0 2px 25px 0 rgba(45,69,95,.06);
    box-shadow: 0 2px 25px 0 rgb(45 69 95 / 6%);
}
.profile-card:before {
    content: "";
    position: absolute;
    right: -63px;
    top: -3px;
    width: 120px;
    height: 120px;
    border-radius: 5px;
    background: hsla(0,0%,100%,.2);
    transform: rotate(36deg);
}
.avatar-100 {
    height: 100px;
    width: 100px;
    min-width: 100px;
}
.profile-card:after {
    content: "";
    position: absolute;
    left: -62px;
    bottom: 9px;
    width: 126px;
    height: 125px;
    border-radius: 35px;
    background: #1c4d8fcf;
    transform: rotate(28deg);
}
.p-icon {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background: #cdf;
    line-height: 45px;
    color: #1c4d8fcf;
    text-align: center;
    font-size: 26px;
}
.order-table-box-navm tr.order-table-nav th:nth-child(6) {
    border-top-right-radius: 0;
}
.order-table-box-navm tr.order-table-nav th:nth-child(8) {
    border-top-right-radius: 20px;
}
button.view-btn {
    border: 0;
    background: #ddd;
    padding: 2px 5px;
    color: #000;
    border-radius: 5px;
}
button.edit-btn {
    border: 0;
    padding: 2px 5px;
    background: #1c4d8fb8;
    color: #fff;
    border-radius: 5px;
}
button.delete-btn {
    border: 0;
    background: #fb404b;
    padding: 2px 5px;
    color: #fff;
    border-radius: 5px;
}
.order-table-box-navm button svg {
    width: 18px;
}
.modal-header {
    background: #025;
    padding: 24px !important;
}
.modal-header .h4 {
    margin: 0;
    color: #fff;
    line-height: normal;
}
.modal-body {
    padding: 0px !important;
}
.modal.show .modal-dialog {
    transform: 0 !important;
}
.totle-amount-nm {
    background: #ddd;
    padding: 10px;
}
.modal-open .modal.show .modal-dialog {
    transform: translate(0, 0%) !important;
}
.track-your-order {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #008cff;
    z-index: 999999;
}
.track-your-order button {
    font-size: 2em !important;
    cursor: pointer;
}

.root {
    padding: 3rem 1.5rem;
    border-radius: 5px;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
} 
figure {
    display: flex;
}
figure img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 1px solid #002154;
    margin-right: 1.5rem;
}
figure figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
figure figcaption h4 {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
}
figure figcaption h6 {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
}
figure figcaption h2 {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
}
.order-track {
    margin-top: 2rem;
    padding: 0 1rem;
    border-top: 1px dashed #2c3e50;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
}
.order-track-step {
    display: flex;
    height: 7rem;
}
.order-track-step:last-child {
    overflow: hidden;
    height: 4rem;
}
.order-track-step:last-child .order-track-status span:last-of-type {
    display: none;
}
.order-track-status {
    margin-right: 1.5rem;
    position: relative;
}
.order-track-status-dot {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: #002154;
}
.order-track-status-line {
    display: block;
    margin: 0 auto;
    width: 2px;
    height: 7rem;
    background: #002154;
}
.order-track-text-stat {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 3px;
}
.order-track-text-sub {
    font-size: 1rem;
    font-weight: 300;
}
figure figcaption h4 {
    margin: 0;
}
.order-track {
    transition: all 0.3s height 0.3s;
    transform-origin: top center;
}
button.btn-close {
    border: 0;
    border-radius: 50px;
    width: 30px;
}
button.btn-close:after {
    content: 'x';
    font-size: 18px;
}
button.trackorder {
    border: 0;
    background: #ddd;
    color: #363636;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 1px 1px 14px 1px #0000000f;
    border: 1px solid #ddd;
}
button.repeatorderbtn {
    border: 0;
    background: #000311;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
}